<div class="bg-light p-3" *ngIf="employee">
  <h2>{{ employee.firstName + " " + employee.lastName}}</h2>
  <div class="row g-3">
    <div class="col-12">
      <label class="form-label">社員番号</label>
      <input type="text" class="form-control" value="{{ employee.id }}">
    </div>
    <div class="col-md-6">
      <label class="form-label">姓</label>
      <input type="text" class="form-control" [(ngModel)]="employee.firstName" placeholder="姓">
    </div>
    <div class="col-md-6">
      <label class="form-label">名</label>
      <input type="text" class="form-control" [(ngModel)]="employee.lastName" placeholder="名">
    </div>
  </div>
</div>
